@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 215 255 0;
    --primary-foreground: 0 0 0;

    --background: 0 0 0;
    --card-background: 17 17 17;

    --text-primary: 255 255 255;
    --text-secondary: 156 163 175;

    --border: 215 255 0;

    --hover-opacity: 0.9;
    --disabled-opacity: 0.7;
  }
}

@layer utilities {
  .bg-primary {
    background-color: rgb(var(--primary))
  }

  .text-primary {
    color: rgb(var(--primary))
  }

  .border-primary {
    border-color: rgb(var(--primary))
  }
}